
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.top-bar{
  background-color: #F4F3F3;
}

.octicon-mark{
  float: left;
  padding-top: 15px;
  padding-left: 300px;
}

.top-right-menu{
  float: right;
}
.dropdown-toggle{
  font-size: 22px;

}
